{% 
    set dayBaseClasses = [
    	'border',
    	'border-right-0',
    	'border-bottom-0',
    	'sirvoy-calendar-day',
    	'p-2'
    ]
%}

{% 
    set eventBaseClasses = [
        'sirvoy-calendar-day-event',
        'badge',
        'badge-primary',
        'w-100',
        'text-left',
        'p-1'
    ]
%}
<div class="sirvoy-calendar w-100 border border-left-0">
	<div class="sirvoy-calendar-heading d-flex text-center justify-content-between align-items-center">
		<div class="sirvoy-calendar-nav p-2 pl-4 pr-4 border-left border-right" data-date="{{ calendar.previousDate|date('Y-m-1') }}"><i class="fas fa-backward"></i></div>
		<div class="sirvoy-calendar-month-name p-2"><h2>{{ calendar.baseDate|date('F Y') }}</h2></div>
		<div class="sirvoy-calendar-nav p-2 pr-4 pl-4 border-left" data-date="{{ calendar.nextDate|date('Y-m-1') }}"><i class="fas fa-forward"></i></div>
	</div>
	<div class="sirvoy-calendar-week-day-names d-flex w-100">
		{% for name in calendar.dayNames %}
			<div class="sirvoy-calendar-day-name border-left text-center text-white p-1 bg-dark">{{ name }}</div>
		{% endfor %}
	</div>
	{% for week in calendar.weeks %}
    	<div class="sirvoy-calendar-week d-flex w-100">
    		{% for day in week %}
    			
    		    {% set dayClasses = dayBaseClasses %}
    			
    			{% if day.getDate|date('Y-m')!=calendar.baseDate|date('Y-m') %}
					{% set dayClasses = dayClasses|merge(['bg-light','text-muted']) %}
				{% endif %}
				
				{% if day.isToday %}
    				{% set dayClasses = dayClasses|merge(['sirvoy-calendar-today']) %}
				{% endif %}
				
				{% if day.isSunday%}
    				{% set dayClasses = dayClasses|merge(['sirvoy-calendar-sunday']) %}
				{% endif %}
    			
    			<div class="{{ dayClasses|join(' ') }}">
    				<span class="sirvoy-calendar-day-number">{{ day.getNumber }}</span>
    				{% if day.getTasks is not empty %}
        				<div class="sirvoy-calendar-day-events">
        					{% for task in day.getTasks %}
        					    {% set eventClasses=eventBaseClasses %}
        						{% if task.isExpired %}
        							{% set eventClasses=eventClasses|merge(['badge-danger']) %}
        						{% endif %}
        						<div class="{{ eventClasses|join(' ') }}" style="background: {{ task.priority.color }}">
        						    {% if task.isExpired %}
        						    	<i class="fas fa-exclamation-triangle pulse text-warning" data-toggle="tooltip" title="This task is expired!"></i>
    						    	{% else %}
    						    		<i class="fas fa-clock" data-toggle="tooltip" title="Deadline: {{ task.getDeadline|date('Y-m-d') }}"></i>
        						    {% endif %}
        						    <a href="{{ path('app_user_show_task',{id: task.id }) }}" class="sirvoy-calendar-task-item" data-toggle="popover" data-trigger="hover" data-title="{{ task.title }}" data-content="Status: {{ task.status.name }} Priority: {{ task.priority.title }}">{{ task.title }}</a>
        						</div>
    						{% endfor %}
        				</div>
        			{% endif %}
    			</div>
    		{% endfor %}
    	</div>
	{% endfor %}
</div>