{% extends 'base.backend.html.twig' %}

{% block body %}
<h2 id="page-title">Calendar</h2>

<div class="card">
    <div class="card-body">{{ sirvoy_calendar_render(calendar) }}</div>
</div>
{% endblock %}