{% extends 'base.backend.html.twig' %}

{% block body %}
<h2 id="page-title">Dashboard</h2>
<div class="card-deck" id="dashboard-cards-deck">
	{% for statistic in statistics %}
		<div class="card border-{{ statistic.class }}">
			<div class="card-header bg-{{ statistic.class }}"><h5>{{ statistic.title }}</h5></div>
			<div class="card-body">{{ statistic.count }}</div>
		</div>
	{% endfor %}
</div>

<h2 class="mt-4 mb-4">Tasks count in this year</h2>
<canvas id="myChart" style="width:100%;" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        datasets: [{
            label: 'All tasks',
            data: [{{ chartData.allByMonth|join(',') }}],
            fill: false,
            backgroundColor:'rgb(75, 192, 192)',
            lineTension:0.1,
        }]
    },
    options: {
    	responsive: false,
    	maintainAspectRatio: 1,
    	scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        fill: false
    }
});
</script>
{% endblock %}