{% extends 'base.backend.html.twig' %}

{% block body %}
	<h2 id="page-title">Tasks list</h2>
	<div class="card">
		<div class="card-header">Edit task <b>{{ form.vars.data.title }}</b></div>
		<div class="card-body">
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form(form) }}
		</div>
	</div>
{% endblock %}