{% extends 'base.backend.html.twig' %}

{% block body %}
	<h2 id="page-title">Tasks list</h2>
	
	<div class="card">
		<div class="card-header">Tasks</div>
		<div class="card-body">
		
			{% for task in tasks %}
				<div class="task-item-row p-2 border rounded-lg mb-2" style="border-color: {{ task.status.color }} !important;">
					<div class="task-item-row-labels">
						{{ task|deadline|raw }}
						{{ task.status|status|raw }}
						{{ task.priority|priority|raw }}
					</div>
					<label>{{ task.title }}</label>
					<small class="d-block text-secondary">{{ task.description }}</small>
					<div class="d-block">
						{% if task.isExpired %}
							<span class="badge badge-danger"><i class="fas fa-exclamation-triangle"></i> This task expired at {{ task.deadline|date('Y-m-d') }}</span>
					    {% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}