{% extends 'base.backend.html.twig' %}

{% block body %}
	<h2 id="page-title">Manage tasks</h2>
	
	
	{% 
        set tableHeaders = [
            'Title',
            'Status',
            'Priority',
            'Deadline',
            'Actions'
        ]
	%}
	
	{# filters form #}
	{% form_theme filtersForm 'bootstrap_4_layout.html.twig' %}
	
	<div class="card mb-4">
	    <div class="card-header">Filters</div>
	    <div class="card-body">
    	    {{ form_start(filtersForm) }}
    		<div class="row">
    			<div class="col-8">
    				<div class="row">
        				<div class="col-4">{{ form_row(filtersForm.status) }}</div>
        				<div class="col-4">{{ form_row(filtersForm.priority) }}</div>
        				<div class="col-4">{{ form_row(filtersForm.title) }}</div>
        			</div>
    			</div>
    			<div class="col-4">
    			    {{ form_row(filtersForm.filter) }}
    			</div>
    		</div>
    	{{ form_end(filtersForm) }}
    	</div>
	</div>
	
	{% if tasks is empty %}
		<div class="card mb-4">
    	    <div class="card-body"><div class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> No tasks found</div></div>
	    </div>
	{% else %}
    	{# start bulk operations form #}
    	{% form_theme bulkOperationsForm 'bootstrap_4_layout.html.twig' %}
    	
    	<div class="card">
    	    <div class="card-header">List</div>
    	    <div class="card-body">
    	        {{ form_start(bulkOperationsForm) }}
    	
            	<div class="row mb-4">
            		<div class="col-4">
            			{{ form_widget(bulkOperationsForm.action) }}	
            		</div>
            		<div class="col-2">
            		    {{ form_widget(bulkOperationsForm.save) }}
            		</div>
            	</div>
            	
            	<div class="pb-2">Total results: {{ pagination.getTotalItemCount }}</div>
            	
            	<table class="table table-bordered">
            		<thead class="thead-dark">
            			<tr>
            				<th style="width: 20px;"><input type="checkbox" class="bulk-check-all" value="" /></th>
            				{% for header in tableHeaders %}
            					<th>{{ header|raw }}</th>				
            			    {% endfor %}
            		   	</tr>
            		</thead>
            		<tbody>
            			{% for task in tasks %}
            				<tr>
            					<td class="bulk-operation-checkbox">{{ form_widget(bulkOperationsForm.tasks[task.id]) }}</td>
            					<td>{{ task.title }}</td>
            					<td>{{ task.status|status|raw }}</td>
            					<td>{{ task.priority|priority|raw }}</td>
            					<td>{{ task|deadline|raw }}</td>
            					<td>
            						<div class="btn-group" role="group" aria-label="Basic example">
            							<a href="{{ path('app_user_edit_task',{'id': task.id}) }}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a>
              							<a href="{{ path('app_user_show_task',{'id': task.id}) }}" class="btn btn-success btn-sm" data-toggle="tooltip" title="Show"><i class="fas fa-search"></i></a>
              							<a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#taskActionsModal" data-action="remove" data-task-title="{{ task.title }}" data-task-id="{{ task.id }}"><i class="fas fa-trash" data-toggle="tooltip" title="Delete"></i></a>
            						</div>
            					</td>
            				</tr>
            			{% endfor %}
            		</tbody>
            	</table>
                    
                {{ form_end(bulkOperationsForm) }}
        	</div>
        	
            {# pagination #}
        	<div class="navigation d-flex justify-content-center">
                <div>{{ knp_pagination_render(pagination) }}</div>
        	</div>
    	</div>        	
    {% endif %}	

    {# actions modal #}
    <div class="modal fade" id="taskActionsModal" tabindex="-1" aria-labelledby="taskActionsModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary task-modal-confirm-action">Yes</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}