{% extends 'base.backend.html.twig' %}

{% block body %}
	<h2 id="page-title">Show task</h2>
	
	<div class="card">
		<div class="card-header">Details of task <strong>{{ task.title }}</strong></div>
		<div class="card-body">
			<div class="row mb-4 single-task-show-metadata">
				<div class="col-4">
					<label class="d-block"><b>Priority</b></label>
					{{ task.priority|priority|raw }}
				</div>
				<div class="col-4">
					<label class="d-block"><b>Status</b></label>
					{{ task.status|status|raw }}
				</div>
				<div class="col-4">
					<label class="d-block"><b>Execution date</b></label>
					<span class="badge badge-secondary">{{ task.date|date('Y-m-d') }}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<label class="d-block"><b>Description</b></label>
					{{ task.description }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}