<header id="header" class="p-2 pl-4 pr-4 border-bottom bg-white w-100 d-flex">
	<a href=""><img src="{{ asset('images/logo.jpg') }}" alt="" title="" style="width: auto; height: 100%;" /></a>

	<div class="ml-auto dropdown">
  		<a href="#" class="btn dropdown-toggle" type="button" id="userDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  			<img src="{{ asset('images/anon.jpg') }}" alt="" title="" class="rounded-circle mr-2" /> Hello {{ app.user.name }}
  		</a>
  		
  		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMenu">
    		<a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
    	</div>
    </div>
</header>
