<div id="sidebar" class="p-4 bg-white border-right">
	<div id="sidebar-menu">
		<span class="menu-blank">Dashboard</span>
		<a href="{{ url('app_user_dashboard') }}"><i class="fas fa-home"></i> Dashboard</a>
		<span class="menu-blank">Tools</span>
		<a href="{{ url('app_user_calendar') }}"><i class="far fa-calendar-alt"></i> Calendar</a>
		<span class="menu-blank">Tasks</span>
		<a href="{{ url('app_user_add_task') }}"><i class="fas fa-plus"></i> Add new task</a>		
		<a href="{{ url('app_user_tasks_manage') }}"><i class="fas fa-list"></i> Manage tasks</a>
		<a href="{{ url('app_user_tasks_list',{'type': 'today'}) }}"><i class="fas fa-clock text-success"></i> Today tasks</a>
		<a href="{{ url('app_user_tasks_list',{'type': 'expired'}) }}"><i class="fas fa-exclamation-triangle text-danger"></i> Expired tasks</a>
	</div>
</div>