/* =Page
-------------------------------------------------------------- */
html, body { min-height: 100%; }
body { background: #F9FAFB; }

/* page */
#page { display: flex; min-height: 100vh; }
#page-content { width: calc(100% - 250px); }
#page-title { margin-bottom: 1rem; }

/* sidebar */
#sidebar { width: 250px;  }

#sidebar-menu > * { display: block; width: 100%; }
#sidebar-menu .menu-blank { padding: 1rem; padding-left: 0; padding-bottom: 0; text-transform: uppercase; }
#sidebar-menu > a { padding: 0.5rem; padding-left: 0; }
#sidebar-menu > a i { margin-right: 0.3rem; }

/* header */
header { position: absolute; left: 0; top: 0; height: 65px; z-index: 1; }

/* =Bootstrap overwrite
-------------------------------------------------------------- */
/* card */
.card { box-shadow: 0 0.1rem .3rem 0 rgba(58,59,69,.15) !important; border: 1px solid #e3e6f0; }

/* badges */
.badge { padding: 0.4rem; font-weight: 500; }

/* form group */
.form-group label { font-weight: 700; }
.form-group > button { margin-top: 2rem; }

/* =Sirvoy calendar
-------------------------------------------------------------- */
/* busy */
.sirvoy-calendar.calendar-ajax-busy:before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(255,255,255,0.8); z-index: 2; }
.sirvoy-calendar.calendar-ajax-busy:after { content: 'Loading data'; position: absolute; left: 50%; top: 50%; z-index: 3; transform: translate(-50%,-50%); font-size: 2rem; font-weight: 500; }
.sirvoy-calendar-day,
.sirvoy-calendar-day-name
{ width: calc(100% / 7); }

.sirvoy-calendar-day { position: relative; min-height: 130px; padding-top: 2.2rem !important; }
.sirvoy-calendar-day.bg-light > * { opacity: 0.3; }
.sirvoy-calendar-day-number { display: block; width: 2rem; height: 2rem; font-size: 1.4rem; line-height: 2rem; border-radius: 2rem; overflow: hidden; text-align: center; position: absolute; right: 0.2rem; top: 0.2rem; font-weight: 500; }
.sirvoy-calendar-sunday .sirvoy-calendar-day-number { color: #FF0000; }

.sirvoy-calendar-nav { font-size: 2rem; cursor: pointer; }
.sirvoy-calendar-day-event { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.sirvoy-calendar-task-item { display: inline-block; width: calc(100% - 20px); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; cursor: pointer; text-decoration: none; color: #FFF; transition: transform 0.25s ease-in-out; }
.sirvoy-calendar-task-item:hover { color: #FFF; text-decoration: none; transform: scale(1.05); }

/* =Tasks list
-------------------------------------------------------------- */
.task-item-row { border-left: 5px solid transparent !important; }

/* =Task show
-------------------------------------------------------------- */
.single-task-show-metadata .badge { font-size: 1.2rem; padding: 0.5rem; }

/* =Dashboard
-------------------------------------------------------------- */
#dashboard-cards-deck .card-body { font-size: 2rem; font-weight: 500; text-align: center; }

/* =Animations
-------------------------------------------------------------- */
@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.7);
	}

	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(255, 193, 7, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 193, 7, 0);
	}
}
.pulse { animation: pulse 0.5s infinite; }