<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block main %}{% endblock %}
    
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>
    <body>
    	<div id="page" style="padding-top: 50px;">
    		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    			{% include 'block/sidebar.html.twig' %}
    			{% include 'block/header.html.twig' %}
    			
    			<div id="page-content" class="p-4">
        			{% for message in app.flashes('notice') %}
                        <div class="alert alert-success">
                            <i class="fa fa-check"></i> {{ message|raw }}
                        </div>
                    {% endfor %}
                    
                    {% block body %}{% endblock %}
			    </div>
    		{% endif %}
        </div>
    </body>
</html>